Package: com.vpand.icpp-server
Version: x.x.x
Description: Interpreting C++(ICPP) - Run C++ anywhere, just like a script.
Section: utils
Depends: firmware (>= 16.5)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Maintainer: vpand.com
Homepage: https://github.com/vpand/icpp/
