[submodule "third/unicorn"]
	path = third/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "third/llvm-project"]
	path = third/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third/boost"]
	path = third/boost
	url = https://github.com/boostorg/boost.git
[submodule "third/protobuf"]
	path = third/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third/brotli"]
	path = third/brotli
	url = https://github.com/google/brotli.git
[submodule "third/ios-cmake"]
	path = third/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
